.hero_our_app{
    margin-top: 175.63px;
    display: flex;
    /*flex-wrap: wrap;*/
}

.text{
    padding-top: 47.5px;
    margin-right: 130.25px;
}

.T1{
    width: 241.661px;
    height: 82.272px;
}

.underscore_1{
    width: 56px;
    height: 2px;
    margin-top: 32px;
    margin-bottom: 39.75px;
    background-color: #000;
}

.D1{
    width: 360.139px;
    height: 107.334px;
    line-height: 30px;
    
}

#first_image{
    width: 665px;
    height: 434px;
}

#download{
    margin-top: 43.91px;
}

.arrow{
    padding-left: 15px;
    width: 15.43px;
    height: 16.82px; 
}

.element_vector_top{
    width: 131.581px;
    height: 115px;
    align-self: flex-end;
}
